/** @format */

/* Card Container */
.container {
  @apply flex p-[1rem] items-end justify-between border border-[#D9D9D9] bg-[#fff] w-[480px] h-[132px] hover:shadow-2xl;
}

/* Card Image Container */
.counter_container {
  @apply text-[48px] font-extrabold;
}

/* Name */
.name {
  @apply text-[0.75rem] xl:text-[1rem] font-bold lg:text-[1.5rem] mt-1 lg:mt-0 px-1;
}

/* Card Description Container */
.cardDescriptionContainer {
  @apply text-[0.5rem] lg:text-[1rem] mt-1 lg:mt-0 lg:px-2 px-2;
}
