/* Styles for container */
.container {
  @apply w-full h-[60px] fixed top-0 left-0 right-0 bg-black py-2 lg:py-0 px-8 lg:px-[3rem] flex flex-row items-center justify-between;
}

/* Styles for logo container */
.logo_container {
  @apply w-[30px] h-[30px] lg:w-[50px] lg:h-[50px] flex items-center justify-center text-white font-extrabold text-2xl;
}

/* Styles for Nav Links Container */
.nav_links_container {
  @apply w-[60%] xl:w-[55%] items-center justify-between hidden md:flex;
}

/* Styles for Nav Link */
.nav_link {
  @apply text-[#fff] rounded-[0.5rem] hover:bg-[#2dc653] text-[0.75rem] w-[120px] px-2 py-3 xl:text-[1rem] font-[700] leading-[1.5rem];
}

.menu_open_button {
  @apply text-white text-[2rem];
}
